.App {
  text-align: center;
  align-items: center;
  background-color: teal;
}

.Grid {
  background-color: teal;
}
/* Would I add another CSS sheet */

h1.App {
  font-size: 50px;
  background-color: teal;
  line-height: 0.2;
}

h2.App {
  line-height: 2;
}

img.App {
  margin-right: auto;
}
.App-body {
  background-color: #ffffff;

  color: white;
}

.App-image {
  height: "400";
  width: "500";
}
.App-link {
  color: #61dafb;
}
